
<div id="jumbo">
	<div class="jumbotron">
		<div class="container">
			<h1> Welcome to NorthWind App</h1>
			<p>Please select the desired functionality from the navigation bar above</p>
		</div>
	</div>
</div>
<div id="description" class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h4>Find Supplier</h4>
				<p>Enter a product ID to find information about that product's supplier</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h4>List Orders</h4>
				<p>Given a product ID get the list order IDs and their total price after discount</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h4>Contact Names</h4>
				<p>Given a product ID get the list of contact names for each order</p>
			</div>
		</div>
	</div>
</div>

