body { padding-top: 200px; }
hr {
	clear: both;
}
.clear {
	clear: both;
}
.navbar {
	height: 70px;
}
.slogan {
	font-size: 20px;
	display: inline-block;
	float: center;
	font-family: sans-serif;
	font-weight: 500;
	height: 62px;
	line-height: 22px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: -15px;
	margin-top: 20px;
	padding-left: 0px;
}
#navig li {
	display: inline-block;
	float: center;
	font-family: open-sans, sans-serif;
	font-size: 16px;
	font-weight: 300;
	height: 62px;
	line-height: 22px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: -15px;
	margin-top: 15px;
	padding-left: 0px;
}
#myBody {
	padding-top: 70px;
}
#description p {
	font-size: 16px;
}
#jumbo .jumbotron {
	background-color: darken(#428bca, 6.5%);
	color: white;
}
